.favorites-page {
    margin-top: 120px;
    min-height: 100vh;

    .favorites-page__title {
        font-weight: 700;
        text-align: center;
        font-size: 20px;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        color: #bbb;
    }

    .favorites-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .favorites-page__none {
        margin-top: 100px;
        text-align: center;
        font-size: 48px;
        font-weight: 900;
        line-height: 1.5;
        color: #bbb;
    }

    .card_in-favorites {
        margin: 20px 15px;
    }
}