.cart-page {
    margin-top: 120px;
    min-height: 100vh;

    .cart-page__title {
        font-weight: 700;
        text-align: center;
        font-size: 20px;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        color: #bbb;
    }

    .cart-page__none {
        margin-top: 100px;
        text-align: center;
        font-size: 48px;
        font-weight: 900;
        line-height: 1.5;
        color: #bbb;
    }

    .cart-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .card_in-cart {
        margin: 20px 15px;
    }

    .close-card {
        position: absolute;
        padding: 0;
        top: 0;
        right: -20px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 21px;
        color: #9a9a9c;
        border-radius: 5px;
        background-color: rgba(204, 204, 204, 0.7);
        cursor: pointer;
       


        &:hover {
            color: rgb(12, 148, 148);
            background-color: #3C4242;
        }

        .close-card_item {
            margin-bottom: 5px;
            font-size: 21px;
        }
    }  
}