.header {
    width: 100vw;
    height: 100px;
    position: fixed;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    z-index: 10;
  
    .header-wrapper {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-radius: 5px;
      background: rgba(12, 178, 178, 0.7);
      backdrop-filter: blur(2px);
    }
  
    .title {
      margin-left: 70px;
      margin-bottom: 10px;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 1.8px;
      text-transform: uppercase;
      color: #7a7a7c;
  
      & span {
        color: #3C4242;
        font-size: 36px;
      }
    }

    .header-navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;

        .pages-navigation {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: end;
        }

        .nav-link {
            margin: 18px 10px;
            color: #3C4242;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1.5px;
            text-decoration: none;
            &:hover{
                border-radius: 5px;
                color: aqua;
            }
        }

        .df-fdc-jce-aic {
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
        }
        .df-fdr-jcsb-aic {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

    }

    .icons-wrapper {
        margin: 0 70px 20px 0;
        padding: 5px 10px;
        width: 100px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 25px;
        background-color: #3C4242;
        box-shadow: 2px 3px 3px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;



        & span {
            width: 12px;
            margin-left: 8px;
            font-size: 20px;
        }

        .fa-sm {
            font-size: 0.75em;
        }

        .cart-shopping-wrapper,
        .star-wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}
