#root {
  width: 100%;
  // background-color: #dddd33;
  background: rgb(12, 178, 178);
}

.container {
  width: 1200px;
}

.app-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


  .icon-title {
    display: flex;
  }

  .icons-wrapper {
    margin: 0 70px 20px 0;
    padding: 5px 10px;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background-color: #dddddd;
    box-shadow: 2px 3px 3px 0 rgba(0,0,0,0.2);



    & span {
      width: 12px;
      margin-left: 8px;
      font-size: 20px;
      color: #3C4242;
    }

    .fa-sm {
      font-size: 0.75em;
    }

    .cart-shopping-wrapper,
    .star-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }






